body {
    background-color: #708090;
}
.fon-question {
    background-color: #FAEBD7;
}

.strike-text span {
    text-decoration: line-through;
}

.mt15 {
    margin-top: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.editable {
    word-wrap: break-word;
}

.editable div {
    display: flex;
}

.editable div button {
    margin-left: 20px;
}
